/* Цвета
#212121 - заголовки
#757575 - основной текст
#FFFFFF - белый
rgba(255, 255, 255, 0.6) - белый 60% футер
#2196F3 - голубой
F5F4FA - background team-section
2F303A - background hero, footer
E5E5E5 - основной background
*/

/* Шрифты
Roboto weight 400, 500, 700, 900
Raleway weight 700
*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-background-color:#FFFFFF;
    --secondary-background-color:#2F303A;
    --third-background-color:#F5F4FA;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
}

/* .page-header {
    background-color: var(--white-color);
} */

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-web {
    color: var(--accent-color);
    }

.logo-studio {
    color: #000000;
}

.list {
    list-style:none;
}

/* site-nav*/
/*link*/
.site-nav .link, .portfolio-button {
    color:var(--title-text-color);
    text-decoration:none;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.site-nav .link:hover, .site-nav .link:focus  {
color: var(--accent-color);
cursor:pointer;
}

.contact-link {
    color: var(--primary-text-color);
    cursor:pointer;
    letter-spacing: 0.02em;
}
.contact-link:hover {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color:var(--secondary-background-color);
}

.hero-title {
color: var(--primary-background-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase
}

/* Button */
.button {
    background-color: var(--accent-color);
    color: var(--primary-background-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
/*  Кнопки login Registration
.button.primary {
    background-color: var(--accent-color);
    color: var(--white-color);
    font-family: inherit;
}
.button.secondary {
    background-color:var(--white-color);
    color: var(--accent-color);
    font-family: inherit;
}*/

/* section */
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    }
/* Features */
.features-list .title, .team-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
}
/* work */

/* team */
.section.team {
    background-color: var(--third-background-color);
}
/* footer */
.footer {
    background-color: var(--secondary-background-color);
}
.footer .logo-studio{
    color: var(--primary-background-color);
}

.address>p {
    color: var(--primary-background-color);
    font-style: normal;
}
.footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration:none;
}
.footer-link:hover, .footer-link:focus {
    color: var(--primary-background-color);
} 

/* PAGE PORTFOLIO */

.portfolio-button {
    background-color: var(--primary-background-color);
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.portfolio-button:hover,
.portfolio-button:focus {
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--primary-background-color);
}

.portfolio-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-list .category {
    font-size: 16px;
    line-height: 1.88;
}